body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.main-text{
    font-family: cursive;
    font-weight: 900;
    font-size: 45px;
    color: white;
    /* background: black; */
    opacity: 65%;
    margin-left: 50px;
    user-select: none;
    
}
.signin{
    display: flex;
    float: right;
    margin-right: 1rem;
}


.modal-content {
 
    /* 80% of window height */

    max-height: 900px;
 
 
}     
 
.modal-header {
 

 
    padding:16px 16px;
 
    
 
 }
 .modal-body{
    padding:30px 16px
 }
 .modal-footer{
    padding:5px 10px;
 }

#imageInputModal{
   
}
#imagePreview{
    height: 200px;
  width: 40%;
}
/* .modal-cancel-btn{
    margin: 0;
    position: absolute;
    top: 90%;
} */