<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </link>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <base href="/">
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/adminPage.css') }}">

    <title>Admin Page</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a>
                <img src="../static/Images/logo.png" alt="" width="100" height="40"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <marquee behavior="alternate" direction="left" scrollamount="18">
                <h1 style="color: rgb(255, 255, 255); font-family: serif; margin-right: 700px;" class="Dashboard">Admin</h1>
            </marquee>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <div class='heading'>
        <!-- <marquee behavior="alternate" direction="left" scrollamount="15">
        </marquee> -->

    </div>

    <br>


    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="/"><button type="button" class="btn btn-success text-center pad"
                    style="width: 300px; height: 200px; font-size: 30px;">Home</button></a>
        </li>


        <li class="nav-item">
            <button type="button" id="addTheater" class="btn btn-success text-center pad"
                style="width: 300px; height: 200px;  font-size: 30px;">Add Theater</button>
        </li>


        <li class="nav-item">
            <button type="button" id="addMovie" class="btn btn-success text-center pad"
                style="width: 300px; height: 200px;  font-size: 30px;">Add Movies</button>
        </li>


        <li class="nav-item">
            <a href="/BookNowNew"><button type="button" class="btn btn-success text-center pad"
                    style="width: 300px; height: 200px;  font-size: 30px;">Show</button></a>
        </li>



    </ul>

    <script>
        var addMovieModalWrap = null;
        var addTheaterModalWrap = null;
        const showModal = (title, description,
            cancelbtn = 'Close',
            saveChangesbtn = 'Save Changes',
            callback
        ) => {
            if (addMovieModalWrap !== null) {
                addMovieModalWrap.remove();

            }

            addMovieModalWrap = document.createElement('div');
            addMovieModalWrap.innerHTML = `
  
    <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movoieModalLabel">${title}</h5>
          <button type="button" id="closebtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
          </div>
        <form action = "/add_movies" method = "POST" enctype="multipart/form-data">
        <div class="modal-body" id="imageModal">
        <input type="file" id="imageInputModal" name="image1" onchange="preview() required">

        <div class="container">

            <!-- Uploaded Image -->
        <img id="imagePreview" src="" alt="Picture">
        </div>

        <div>
        <input class="form_field mb-3" type="text" name="movieid" id="movieID" placeholder="Id of the Movie" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="movie" id="movieName" placeholder="Name of the Movie" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="animation" id="animation" placeholder="Animation" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="language" id="movieLanguage" placeholder="Language" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="duration" id="movieDuration" placeholder="Movie Duration" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="date" id="releasedate" placeholder="Release Date" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="about" id="aboutMovie" placeholder="About Movie" autofocus="true"/>


        <!--<input class="form_field mb-3" type="text" name="cast" id="movieCast" placeholder="Cast" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="crew" id="movieCrew" placeholder="Crew" autofocus="true"/>
        <input class="form_field mb-3" type="text" name="certification" id="movieCertification" placeholder="Certification" autofocus="true"/>-->
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-cancel-btn" data-bs-dismiss="modal">${cancelbtn}</button>
          <button type="submit" id="saveData" onclick="saveChanges()" class="btn btn-primary modal-saveChanges-btn">${saveChangesbtn}</button>
        </div>
        </form>
      </div>
    </div>
  </div>`;

            // modalWrap.querySelector('.modal-saveChanges-btn').onclick = callback;
            document.body.append(addMovieModalWrap);

            var modal = new bootstrap.Modal(addMovieModalWrap.querySelector('.modal'));
            modal.show();
        }


        const addTheaterShowModal = (title, description,
            cancelbtn = 'Close',
            saveChangesbtn = 'Save Changes',
            callback
        ) => {
            // if (addTheaterModalWrap !== null) {
            //     addTheaterModalWrapp.remove();

            // }

            addTheaterModalWrap = document.createElement('div');
            addTheaterModalWrap.innerHTML = `
  
    <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movoieModalLabel">${title}</h5>
          <button type="button" id="closebtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
          </div>
        <form action = "/owner_upload" method = "POST">
        
        
        <div id="addTheaterContainer">
        <input class="form_field mb-3" type="text" name="theater" id="theaterName" placeholder="Name of the Theater" autofocus="true"/> </br>
        <input class="form_field mb-3" type="text" name="theaterId" id="theaterId" placeholder="Id of Theater" autofocus="true"/> </br>
        <input class="form_field mb-3" type="text" name="location" id="location" placeholder="Location" autofocus="true"/> </br>
        <input class="form_field mb-3" type="text" name="city" id="cityName" placeholder="City Name" autofocus="true"/> </br>
        <input class="form_field mb-3" type="text" name="showTime" id="showTime" placeholder="Show Time" autofocus="true"/> </br>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-cancel-btn" data-bs-dismiss="modal">${cancelbtn}</button>
          <button type="submit" id="saveTheaterData" onclick="saveAddTheater()" class="btn btn-primary modal-saveChanges-btn">${saveChangesbtn}</button>
        </div>
        </form>
      </div>
    </div>
  </div>`;

            // modalWrap.querySelector('.modal-saveChanges-btn').onclick = callback;
            document.body.append(addTheaterModalWrap);

            var modal = new bootstrap.Modal(addTheaterModalWrap.querySelector('.modal'));
            modal.show();
        }
    </script>

    <script src="{{ url_for('static', filename='/JS/adminPageScript.js') }}"></script>


    </script>
</body>

</html>