<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movie Seat Booking</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/SeatBooking.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    
</head>

<body>
    <!-- <form class="form"> -->



    <!-- </form> -->







    <div>
        <img class="main-logo" src="{{ url_for('static', filename='/Images/img1.jpg') }}" />
    </div>

    <!-- 
    <div class="movie-container">
        <label style="font-size: 1em;">Pick a movie:</label>
        <select id="movie">
            <option value="10">Jurassic Park ($10)</option>
            <option value="12">Logan ($12)</option>
            <option value="8">Avengers Infinity War ($8)</option>
        </select>
    </div> -->

    <ul class="showcase">
        <li>
            <div id="seat" class="seat"></div>
            <small class="status" style="font-size: 2em;">N/A</small>
        </li>
        <li>
            <div id="seat" class="seat selected"></div>
            <small class="status" style="font-size: 2em;">Selected</small>
        </li>
        <li>
            <div id="seat" class="seat occupied"></div>
            <small class="status" style="font-size: 2em;">Occupied</small>
        </li>
    </ul>

    <form action="/paynow" method="POST">

        <div class="container">

            <div class="screen" id="display">BookYourShow </br>

            {% for k in rows%}

               {{k}}
            
            {% endfor %}
        </div>
       

            <div class="row">
                {%for i in range(0, 8)%}
                <!-- <h1>{{i}}</h1> -->
                <!-- <button id="seat1" name="seat1" class="seat" data-price="50"
                onclick="ChangeColor('seat1')">A{{i+1}}</button> -->


                <div class="inputGroup">
                    <input id="option1{{i+1}}" name="seat1{{i+1}}" type="checkbox" value="A{{i+1}}" />
                    <label for="option1{{i+1}}">A{{i+1}}</label>
                </div> &emsp;
                {%endfor%}

            </div>

            <div class="row">
                {%for i in range(0, 8)%}

                <!-- <input type="checkbox" id="seat6" name="seat6" class="seat" onclick="ChangeColor('seat6')" value="B{{i+1}}">-->

                <div class="inputGroup">
                    <input id="option2{{i+1}}" name="seat2{{i+1}}" type="checkbox" value="B{{i+1}}" />
                    <label for="option2{{i+1}}">B{{i+1}}</label>
                </div> &emsp;

                {%endfor%}

            </div>
            <div class="row">
                {%for i in range(0, 8)%}

                <!-- <button id="seat12" name="seat12" class="seat" onclick="ChangeColor('seat12')">C{{i+1}}</button> -->


                <div class="inputGroup">
                    <input id="option3{{i+1}}" name="seat3{{i+1}}" type="checkbox" value="C{{i+1}}" />
                    <label for="option3{{i+1}}">C{{i+1}}</label>
                </div> &emsp;


                <!-- <div id="seat" name="seat" class="seat occupied">C7</div> -->
                {%endfor%}

            </div>
            <div class="row">
                {%for i in range(0, 8)%}

                <!-- <a href="{{i+1}}"> <button id="seat18" name="seat18" class="seat"
                    onclick="ChangeColor('seat18')">D{{i+1}}</button> </a> -->

                <div class="inputGroup">
                    <input id="option4{{i+1}}" name="seat4{{i+1}}" type="checkbox" value="D{{i+1}}" />
                    <label for="option4{{i+1}}">D{{i+1}}</label>
                </div> &emsp;

                {%endfor%}

            </div>
            <div class="row">
                {%for i in range(0, 8)%}

                <!-- <button id="seat29" name="seat29" class="seat" onclick="ChangeColor('seat29')">E{{i+1}}</button> -->

                <div class="inputGroup">
                    <input id="option5{{i+1}}" name="seat5{{i+1}}" type="checkbox" value="E{{i+1}}" />
                    <label for="option5{{i+1}}">E{{i+1}}</label>
                </div> &emsp;

                {%endfor%}

            </div>
            <div class="row">
                {%for i in range(0, 8)%}

                <!-- <button id="seat35" name="seat35" class="seat" onclick="ChangeColor('seat35')">F{{i+1}}</button> -->
                <div class="inputGroup">
                    <input id="option6{{i+1}}" name="seat6{{i+1}}" type="checkbox" value="F{{i+1}}" />
                    <label for="option6{{i+1}}">F{{i+1}}</label>
                </div> &emsp;

                {%endfor%}


            </div>
        </div>

        <br><br><br>

        <div style="display: flex; justify-content: center; ">
            <a href="/">
                <button class="btn-home" id="homeBtn">
                    Home
                </button>
            </a>
            <button class=" btn-paynow  " id="payBtn">
                Paynow
            </button>
            
        </div>
    </form>

  
    <script type="module" src="{{ url_for('static', filename='/JS/SeatBooking.js') }}">

    </script>

</body>

</html>