body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* background-image: url("../static/Images/ipl1.webp"); */
    background-size: cover;
    background-attachment: fixed;
    /* font-family: arial; */
    background-color: black;
}

.main-text {
    font-family: cursive;
    font-weight: 900;
    font-size: 45px;
    color: white;

    opacity: 65%;
    margin-left: 50px;
    user-select: none;

}

.signin {
    display: flex;
    float: right;
    margin-right: 1rem;
}


.modal-content {



    max-height: 900px;


}

.modal-header {


    background-color: black;
    padding: 16px 16px;



}

.modal-body {
    padding: 30px 16px
}

.modal-footer {
    padding: 5px 10px;
}


#imagePreview {
    height: 200px;
    width: 40%;
}

#addTheaterContainer {
    margin-left: 20px;
    padding-top: 10px;
}

.modal-title {
    color: aliceblue;
}

#movieModal {
    padding-top: 90px;
}

#closebtn {
    background-color: red;
}



.center {
    position: absolute;
    top: 95%;
    left: 55%;
    /*margin: 100px;*/
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.pad {
    margin: 30px;
    margin-top: 150px;
}


.heading {
    /* color: lightcoral; */
    font-family: cursive;
    background-color: black;
    font-style: italic;
    animation-name: sample;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes sample {
    0% {
        color: lightcoral;
    }

    25% {
        color: teal;
    }

    50% {
        color: olivedrab;
    }

    100% {
        color: crimson;
    }
}

.Dashboard {
    text-align: center;
    margin-left: 350px;
}