
@media screen and (min-width: 480px) {
    body {
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-size: cover;
        background-attachment: fixed;
    }
}

.main-text {
    font-family: cursive;
    font-weight: 900;
    font-size: 45px;
    color: white;

    opacity: 65%;
    margin-left: 50px;
    user-select: none;

}

.signin {
    display: flex;
    float: right;
    margin-right: 1rem;
}


.modal-content {

    max-height: 900px;

}

.modal-header {

    background-color: black;
    padding: 16px 16px;


}

.modal-body {
    padding: 30px 16px
}

.modal-footer {
    padding: 5px 10px;
}


#imagePreview {
    height: 200px;
    width: 40%;
}

#addTheaterContainer {
    margin-left: 20px;
    padding-top: 10px;
}

.modal-title {
    color: aliceblue;
}

#movieModal {
    padding-top: 90px;
}

#closebtn {
    background-color: red;
}



.center {
    position: absolute;
    top: 95%;
    left: 55%;
    /*margin: 100px;*/
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.pad {
    margin: 30px;
    margin-top: 150px;
    transform: scale(1.0);
    background-color: black;
}



.heading {
    /* color: lightcoral; */
    font-family: cursive;
    /* background-color: black; */
    font-style: italic;
    animation-name: sample;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.Dashboard {
    text-align: center;
    margin-left: 350px;
}

.container {
    font-size: 20px;
    user-select: none;
    padding-top: 40px;
    font-style: italic;
    font-family: cursive;
    font-weight: bold;

}


.body :hover {
    color: lavenderblush;
}


.btnsubmit {
    margin-left: 2%;
    margin-left: 40%;
}