/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */

* {
    box-sizing: border-box;
}


.main-logo {
    width: 90%;
    height: 160px;
    max-width: 150px;
}

body {
    /* background-image: url("/Images/thor8.png"); */
    background-color: black;
    color: #fff;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: cursive;
    margin: 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
    margin-right: 200px;
}

.seat {
    background-color: #5c5c5c;
    height: 35px;
    width: 80px;
    margin: 3px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    user-select: none;
}

.seat.selected {
    background-color: rgb(45, 86, 175);
}

/* .seat.occupied {
    background-color: rgb(242, 5, 5);
} */

/* .seat:nth-of-type(2) {
    margin-right: 100px;
}

.seat:nth-last-of-type(2) {
    margin-left: 100px;
} */

/* .seat:not(.occupied):hover {
    cursor: pointer;
    background-color: rgb(45, 86, 175);
    transform: scale(1.2);
} */

.row {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.row li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.row li small {
    margin-left: 2px;
}

/* Theater Screen */
.screen {
    background-color: thistle;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    user-select: none;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 20px;
    height: 120px;
    width: 100%;
    margin: 20px;
    margin-left: 100px;
    transform: rotateX(-30deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 5.0);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

/*Font Color Of N/A , Selected, Occupied*/
/* .status {
    color: white;
} */

.btn {
    background-color: #21bbac;
    border: 1px solid #000000;
    padding: .6em 2em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    margin-left: 290px;
}

.inputGroup {
    /* padding: .6em 2em; */
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-left: 390px;
}

.inputGroup :hover {
    cursor: pointer;
    background-color: rgb(45, 86, 175);
    transform: scale(1.2);
    border-radius: 10px;

}