body {
    background-color: black;
}

#heading {
    margin-left: 650px;
    margin-top: 20px;
    color: aliceblue;
}

#signIn {
    color: aliceblue;
    font-size: larger;
}

.adminbtn {
    width: 500px;
    transform: scale(1.20);
    color: white;
    

}

.adminbtn:hover {
    background-color: green;
    transform: scale(1.20);
}

.userbtn {
    width: 500px;
    transform: scale(1.20);
    color: white;
}

.userbtn:hover {
    background-color: green;
    transform: scale(1.20);
}

.registerbtn {
    width: 500px;
    transform: scale(1.20);
    color: white;
}

.registerbtn:hover {
    background-color: green;
    transform: scale(1.20);

}